<a href="https://colab.research.google.com/github/sergiocastro85/trabajosPython/blob/main/procesamientolenguajenatural.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from sklearn.feature_extraction.text import CountVectorizer
corpus = ['Los niños juegan en el pasillo de los niños',
          'el pasillo tiene mucho espacio',
          'a muchos niños les gusta jugar en un espacio abierto']
vectorizer=CountVectorizer()
X = vectorizer.fit_transform(corpus)

In [5]:
X.toarray()

array([[0, 1, 1, 1, 0, 0, 1, 0, 0, 2, 0, 0, 2, 1, 0, 0],
       [0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0],
       [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1]])

In [8]:
vectorizer.vocabulary_

{'abierto': 0,
 'de': 1,
 'el': 2,
 'en': 3,
 'espacio': 4,
 'gusta': 5,
 'juegan': 6,
 'jugar': 7,
 'les': 8,
 'los': 9,
 'mucho': 10,
 'muchos': 11,
 'niños': 12,
 'pasillo': 13,
 'tiene': 14,
 'un': 15}

In [9]:
vectorizer.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['abierto',
 'de',
 'el',
 'en',
 'espacio',
 'gusta',
 'juegan',
 'jugar',
 'les',
 'los',
 'mucho',
 'muchos',
 'niños',
 'pasillo',
 'tiene',
 'un']

In [10]:
columnas=vectorizer.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [11]:
columnas

['abierto',
 'de',
 'el',
 'en',
 'espacio',
 'gusta',
 'juegan',
 'jugar',
 'les',
 'los',
 'mucho',
 'muchos',
 'niños',
 'pasillo',
 'tiene',
 'un']

In [14]:
import pandas as pd

df=pd.DataFrame(data=X.toarray(),columns=columnas)

In [15]:
df

,abierto,de,el,en,espacio,gusta,juegan,jugar,les,los,mucho,muchos,niños,pasillo,tiene,un
0,0,1,1,1,0,0,1,0,0,2,0,0,2,1,0,0
1,0,0,1,0,1,0,0,0,0,0,1,0,0,1,1,0
2,1,0,0,1,1,1,0,1,1,0,0,1,1,0,0,1

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
X=tfidf.fit_transform(corpus)

columnas=tfidf.get_feature_names()
idf=tfidf.idf_

In [20]:
idf

array([1.69314718, 1.69314718, 1.28768207, 1.28768207, 1.28768207,
       1.69314718, 1.69314718, 1.69314718, 1.69314718, 1.69314718,
       1.69314718, 1.69314718, 1.28768207, 1.28768207, 1.69314718,
       1.69314718])

In [21]:
df=pd.DataFrame(data=X.toarray(),columns=columnas)

In [22]:
df

,abierto,de,el,en,espacio,gusta,juegan,jugar,les,los,mucho,muchos,niños,pasillo,tiene,un
0,0.000000,0.315459,0.239915,0.239915,0.000000,0.000000,0.315459,0.000000,0.000000,0.630918,0.00000,0.000000,0.479829,0.239915,0.00000,0.000000
1,0.000000,0.000000,0.393511,0.000000,0.393511,0.000000,0.000000,0.000000,0.000000,0.000000,0.51742,0.000000,0.000000,0.393511,0.51742,0.000000
2,0.359554,0.000000,0.000000,0.273450,0.273450,0.359554,0.000000,0.359554,0.359554,0.000000,0.00000,0.359554,0.273450,0.000000,0.00000,0.359554

In [23]:
#medir similitud
from sklearn.metrics.pairwise import cosine_similarity
cs=cosine_similarity(X.toarray())

In [24]:
cs

array([[1.        , 0.18881827, 0.19681418],
       [0.18881827, 1.        , 0.10760571],
       [0.19681418, 0.10760571, 1.        ]])

In [25]:
documentos=['documento1','documento2','documento3']
df=pd.DataFrame(data=cs,columns=documentos,index=documentos)
df

            documento1  documento2  documento3
documento1    1.000000    0.188818    0.196814
documento2    0.188818    1.000000    0.107606
documento3    0.196814    0.107606    1.000000